@font-face {
		font-family: 'OpenSans-Regular';
		src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
		font-style: normal;
		font-weight: 400;
	}
@font-face {
		font-family: 'OpenSans-Italic';
		src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
		font-style: italic;
		font-weight: 400;
	}
@font-face {
		font-family: 'OpenSans-SemiBold';
		src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
		font-style: normal;
		font-weight:  600;
	}
@font-face {
		font-family: 'OpenSans-Bold';
		src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
		font-style: normal;
		font-weight:  700;
	}	
@font-face {
		font-family: 'OpenSans-ExtraBold';
		src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
		font-style: normal;
		font-weight: 800;
	}
body {
	font-family: OpenSans-Regular, Arial, sans-serif;
	margin: 0;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1250px;
	min-height: 90px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.8);
}
h1 {
	text-transform: uppercase;
	font-family: OpenSans-ExtraBold, sans-serif;
	font-size: 60px;
	margin: 0px;
	opacity: 0.9;
}
h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'OpenSans-Bold', sans-serif;
	font-size: 42px;
	opacity: 0.6;
}
h3 {
	font-family: 'OpenSans-SemiBold', sans-serif;
	font-size: 24px;
}
p {
	font-size: 16px;
	line-height: 28px;
	opacity: 0.7;
}

.main-pageone,
.main-pagetwo,
.main-featureproducts,
.main-team,
.main-subscribe,
.main-feedback,
.main-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1250px;
	margin: 0 auto;
}
.main-pageone {
	padding-top: 100px;
	padding-bottom: 106px;
}
.color-pageone {
	background-color: rgba(0,0,0,0.07);
	padding-top: 29px;
}
.menu-text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	right: 15px;
}
.menu-text > a {
	padding: 41px 33px 30px;
	color: #e0e0e0;
	font-family: OpenSans-Bold, sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-text > a:hover {
	background-color: #ff3f40;
}

.button-pageone,
.button-subscribe {
	display: flex;
	width: 225px;
	height: 55px;
	justify-content: center;
	align-items: center;
	font-family: OpenSans-Bold, sans-serif;
	font-size: 17px;
	color: white;
	text-decoration: none;
	background-color: #ff2d2d;
	border-radius: 5px;
}
.leftside-pageone {
	position: relative;
	margin: 0;
	width:50%;
	bottom: 16px;
}
.leftside-pageone > h1 {
	letter-spacing: 0.026em;
    line-height: 74px;
}
.organaisation {
	letter-spacing: 6px;
}
.leftside-pageone > p {
	width:87%;
	text-align: justify;
	padding-bottom: 42px;
}

.main-image {
	display: inline-block;
	width: 550px;
	height: auto;
	box-shadow: 0px 0px 73px rgba(0, 0, 0, 0.4) ;
}
.main-pagetwo {
	padding-top: 95px;
	padding-bottom: 79px;
}
.leftside-pagetwo {
	padding-right: 17px;
	flex: 1 1 50%;
	max-width: 50%;
}
.leftside-pagetwo > h2 {
	letter-spacing: 0.6px;
	padding-bottom: 14px;
}
.leftside-pagetwo > p {
	width: 85%;
    padding-bottom: 41px;
}
.button-pagetwo {
	color: #ff2d2d;
	display: inline-block;
	background-color: #ffffff;
	width: 222px;
	padding: 15px 0;
	border: 2px solid #ff2d2d;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
}
.rightside-pagetwo {
	flex: 1 1;
	max-width: 50%;
	display: flex;
	flex-wrap: wrap;
}

.box-pagetwo {
	flex: 1 1 288px;
	width: 288px;
}
.box-pagetwo:nth-child(odd) {
	margin-right: 32px;
}
.box-pagetwo > h3 {
	margin: 0;
}
.box-pagetwo > h3::before {
	display: block;
	width: 41px;
	height: 41px;
	margin-bottom: 28px;
    margin-top: 16px;
}
.box-pagetwo > p {
	margin: 0;
}
.box-pagetwo:nth-child(even) > p {
	text-align: justify;
}
.box-pagetwo > .icon-management::before {
	content: url('../images/service-1.png');
}

.box-pagetwo > .icon-ui::before {
	content: url('../images/service-2.png');
}

.box-pagetwo > .icon-branding::before {
	content: url('../images/service-3.png');
}

.box-pagetwo > .icon-animation::before {
	content: url('../images/service-4.png');
}
.main-featureproducts {
	padding-top: 81px;
	padding-bottom: 108px;
}
.text-featureproducts {
	width: 100%;
	text-align: center;
	margin-bottom: 78px;
	margin-left: 28px;
}
.text-featureproducts > p {
	padding-top: 10px;
	margin: 0 auto;
	max-width: 550px;
	padding-bottom: 21px;
}
.menu-featureproducts {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
}
.menu-featureproducts a {
	position: relative;
    left: 54px;
	color: #000;
	margin-right: 59px;
	font-size: 22px;
	font-family: 'OpenSans-SemiBold';
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.7;
}
.menu-featureproducts a:hover {
	color: #ff3f40;
}
.img-products {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.img-products img {
	flex: 1 1 24%;
	max-width: 300px;
	height: 289px;
	margin-bottom: 18px;
	object-fit: cover;
}
.main-team {
	padding-bottom: 117px;
}
.text-team {
	max-width: 460px;
}
.text-team > hr {
	margin-left: 4px;
    margin-bottom: 71px;
    margin-top: 34px;
}
.members-team {
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	position: relative;
}
.photoboss-team {
	display: flex;
	align-items: center;
	width: 324px;
	height:450px;
	background-color:#FF3F40;
}
.photoboss-team > img {
	width: inherit;
}
.info-team {
	position: absolute;
	max-width: 642px;
	top: 5px;
	left: 393px;
}
.info-team > h3 {
	position: relative;
	text-transform: uppercase;
	opacity: 0.8;
	margin-bottom: 16px;
	margin: 0;
    font-size: 30px;
    letter-spacing: 0.6px;
}
.info-team > p {
	margin-bottom: 40px;
}
.info-team > a {
	color: #000;
	text-decoration: none;
	margin-right: 31px;
	font-style: italic;
	letter-spacing: 1px;
}
.info-team > a:hover {
	text-decoration: underline;
}
.wrap-team {
	display: flex;
	margin-left: auto;
	margin-top: auto;
}
.member {
	position: relative;
	margin-right: 7px;
	margin-left: 10px;
}

.member > h3 {
	visibility: hidden;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 37px;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
	margin: 0;
}
.member > img {
	width: 200px;
}

.member:hover > h3 {
	visibility: visible;
}
.main-subscribe {
	box-sizing: border-box;
	display: block;
	max-width: 100%;
	background-color: #2c2c2c;
	padding-top: 100px;
	padding-bottom: 139px;
	text-align: center;
	color: white;
	line-height: 90px;
}
.main-subscribe > p {
	margin: 0;
}
.main-subscribe > h2 {
text-transform: none;
letter-spacing: 1.08px;
padding-top: 25px;
}
.form-subscribe {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}
.email-input {
	color: grey;
	display: flex;
	align-items: center;
	background-color: #fff;
	box-sizing: border-box;
	flex: 0 1 521px;
	max-width: 521px;
	max-height: 79px;
	padding: 0;
	padding-left: 35px;
	border: none;
	border-radius: 5px;
	margin-right: 22px;
}
.button-subscribe {
	min-height: 79px;
	text-transform: uppercase;
}
.main-feedback {
	position: relative;
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	padding-top: 92px;
	padding-bottom: 110px;
}
.feedback {
	max-width: 731px;
	margin-right: 107px;
}
.feedback > p {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 53px;
}
.feedback > hr {
	margin: 0;
	margin-bottom: 77px;
}

.form-feedback {
	display: flex;
	flex-wrap: wrap;
}

.form-feedback > div {
	color: grey;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding-left: 54px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;	
	margin-bottom: 45px;
}

.name-input,
.form-feedback > .email-input {
	width: 339px;
	max-width: 339px;
	height: 69px;
}

.name-input {
	margin-right: 53px;
}
.form-feedback > .email-input {
	margin-right: 0px;
}
.message-input {
	font-size: 16px;
	font-family: 'OpenSans-Regular';
	width: 731px;
	max-width: 731px;
	height: 249px;
	padding-bottom: 150px;
}

.send-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 731px;
	max-width: 731px;
	height: 72px;
	color: #fff;
	font-size: 18px;
	font-family: 'OpenSans-Bold';
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
} 
.contacts-feedback {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 485px;
	background-color:#2d2d2d;
	color: white;
}
.contacts-feedback > h2 {
	font-size: 18px;
    margin-top: 139px;
    margin-left: 78px;
}
.contacts-address {
	font-style: normal;
	margin-bottom: 125px;
    margin-left: 79px;
}
footer {
	background-color: #2c2c2c;
	padding: 0 1vw;
}

.main-footer {
	box-sizing: border-box;
	padding: 19px 0 0;
	color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 110px;
	background-color: #2c2c2c;
}
.links-footer > a {
	margin-left: 15px;
}
.hr-red {
	width: 130px;
    height: 2px;
    background-color: #ff2d2d;
    border: none;
}
.hr-fullpage {
	align-content: center;
	max-width: 1285px;
}
@media screen and (max-width: 1249px){
	.menu-text > a {
		padding: 41px 1.5vw 30px;
	}
	.main-pageone,
	.main-featureproducts,
	.main-team,
	.main-feedback {
		padding: 5vw 0;
	}
	.leftside-pageone {
		margin-left: 1vw;
		width: 48vw;
	}
	.leftside-pageone > h1 {
		line-height: unset;
		font-size: 4vw;
	}
	.main-image {
		margin-right: 1vw;
		width : 45vw;
	}
	.main-pagetwo {
		padding: 0 1vw;
	}
	.menu-featureproducts {
	flex-direction: column;
    align-items: center;
	}
	.img-products > img {
		max-width: unset;
		padding-left: 1vw;
		padding-right: 1vw;
	}

	}
	.main-team {
		padding-left: 1vw;
	}
	.text-team {
		max-width: unset;
	}
	.photoboss-team {
		max-width: 100%;
    	height: unset;
    	background-color: unset;
	}
	.info-team {
		position: unset;
		text-align:center;
		max-width: unset;
	}
	.wrap-team {
	flex-wrap: wrap;
    margin-left: unset;
    margin-top: unset;
    padding-top: 1vw;
    align-content: center;
	}
	.member {
	 flex-wrap: wrap;
	}
	.main-subscribe {
	padding: 3vw 1vw;
	}
	.feedback {
		max-width: 100%;
		padding: 3vw 1vw;
		margin: 0;
	}
	.form-feedback,
	.send-button {
		flex-direction: column;
		width: unset;
		max-width: 95vw;
	}
	.main-feedback {
		flex-wrap: wrap;
	}
	.name-input {
		margin: 1vw 0 !important;
	}
	.form-feedback > .email-input {
		margin: 0 1vw 1vw 0 !important;
	}
	.message-input {
		width: unset;
		max-width: 100%;
	}
	.contacts-feedback {
		width: -webkit-fill-available;
    	align-items: baseline;
		height: unset;
	}
	.contacts-feedback > h2 {
		margin-top: 2vw;
	}
	.contacts-address {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 715px){
	.leftside-pageone {
		margin: 1vw;
		width: 100%;
	}
	.leftside-pageone > h1 {
		line-height: unset;
		font-size: 30px;
	}
	.main-image {
		margin: 1vw;
		width : 98%;
	}

	.leftside-pagetwo {
		max-width: 100%;
		padding: 0 1vw;
	}
	.rightside-pagetwo {
		max-width: 100%;
		padding: 0 1vw;
	}
}